* {
    margin: 0;
    padding: 0;
}

:root {
    --light: rgb(250, 245, 239);
    --light-green: rgb(193, 224, 214);
    --light-blue: rgb(141, 192, 207);
    --dark: rgb(73, 73, 73);
}

main {
    background-color: var(--light);
    background-size: cover;
    border: 2px solid var(--light);
    padding: 10px;
}

h1 {
    font-family:'Dancing Script', cursive;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    color: black;
    text-shadow: 3px 3px 3px var(--dark);
}

header {
    display: flex;
    justify-content: center;
    background-color:var(--light-green);
    padding: 20px;
    opacity: .75;
    background-image: linear-gradient(to right, rgba(255,0,0,1),rgba(255,165,0,1),rgba(255,255,0,.75),rgba(0,128,0,.5),rgba(0,0,255,.75),rgba(75,0,130,1),rgba(238,130,238,1));
}

form {
    text-align: center;
}

button {
    width: 75px; 
    height: auto;
    background-color: rgb(153, 30, 30);
    color: var(--light);
}

footer {
    height: auto;
    background-color: var(--light-green);
    opacity: .75;
    background-image: linear-gradient(to right, rgba(255,0,0,1),rgba(255,165,0,1),rgba(255,255,0,.75),rgba(0,128,0,.5),rgba(0,0,255,.75),rgba(75,0,130,1),rgba(238,130,238,1));
}

figcaption {
    margin-bottom: 30px;
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
    text-shadow: 2px 2px 2px grey;
}

.navbar {
    color: black;
}

.first-picture {
    display: block;
    width: 35vw;
    height: auto;
    border: 5px solid transparent;
    border-image: linear-gradient(to top right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
    margin: 10px auto;
    margin-bottom: 10px;
    margin-top: 30px;
}

.text-center {
    text-align: center;
    padding: 10px;
}

.d-block {
    display: block;
    margin: auto;
    padding: 20px;
    max-width: 35vw;
    height: auto;
    justify-content: center;
    border: 5px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
}      

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: #2196F3;
}

.footer-text {
    line-height: 60px;
    text-align: center;
    color: black;
}

/* slider */
.toggle {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    font-size: 12px;
    width: 175px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 34px;
  }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  
input:checked + .slider {
    background-color: #2196F3;
  }

input:checked + .slider {
    background-color: #2196F3;
  }
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
  }
  
.slider.round:before {
    border-radius: 50%;
  }

  /* theme switcher*/
.dark {
    background-color: var(--dark);
    color: var(--light);
    border: 2px solid var(--dark);
}

.song {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* countdown clock */
.countdown-clock {
    text-align: center;
    font-family:'Dancing Script', cursive;
    font-size: 22px;
    text-shadow: 2px 2px 2px grey;
}

@media screen and (max-width: 1024px) {
    header, footer {
        background-color:var(--light-blue);
        background-color: 100%;
    }

    h1 {
        text-shadow: 4px 4px 4px grey;
    }

    .first-picture {
        width: 75%;
    }

    figcaption {
        font-size: 18px;
    }

    .d-block {
        max-width: 100%;
    }

    .footer-text {
        text-align: center;
    }

    /* slider */
    .row {
        display: flex;
    }

    .toggle {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        font-size: 2.5px;
        width: 75px;
        background-color: rgba(76, 175, 80, 0.15)
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 10px;
      }
    
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }
    
    .slider:before {
        position: absolute;
        content: "";
        height: 10px;
        width: 10px;
        left: 2px;
        bottom: 3px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }

    .toggle {
        position: absolute;
        margin-top: 5px;
        margin-right: 5px;
        top: 0;
        right: 0;
        display: flex;
        font-size: 10px;
        width: 150px;
    }
    
    .switch {
        position: relative;
        display: inline-block;
        width: 30px;
        height: 20px;
      }
    
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }
    
    .slider:before {
        position: absolute;
        content: "";
        height: 15px;
        width: 15px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }

      .countdown-clock {
        text-align: center;
        font-family:'Dancing Script', cursive;
        font-size: 16px;
        text-shadow: 2px 2px 2px grey;
    }
}