* {
    margin: 0;
    padding: 0;
}

:root {
    --light: rgb(250, 248, 246);
    --light-green: rgb(193, 224, 214);
    --light-blue: rgb(141, 192, 207);
}

main {
    background-color: var(--light);
    background-size: cover;
}

h1 {
    font-family:'Dancing Script', cursive;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    color: black;
    text-shadow: 3px 3px 3px grey;
}

header {
    display: flex;
    justify-content: center;
    background-color:var(--light-green);
    padding: 20px;
    opacity: .75;
    background-image: linear-gradient(to right, rgba(255,0,0,1),rgba(255,165,0,1),rgba(255,255,0,.75),rgba(0,128,0,.5),rgba(0,0,255,.75),rgba(75,0,130,1),rgba(238,130,238,1));
    
}

form {
    text-align: center;
}

button {
    width: 75px; 
    height: auto;
    background-color: rgb(153, 30, 30);
    color: var(--light);
}

footer {
    height: auto;
    background-color: var(--light-green);
    margin-top: 10px;
    line-height: 60px;
    text-align: center;
    background-image: linear-gradient(to right, rgba(255,0,0,1),rgba(255,165,0,1),rgba(255,255,0,.75),rgba(0,128,0,.5),rgba(0,0,255,.75),rgba(75,0,130,1),rgba(238,130,238,1));
}

figcaption {
    margin-bottom: 30px;
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
    text-shadow: 2px 2px 2px grey;
}


.navbar {
    color: black;
    font-weight: bold;
}

.first-picture {
    display: block;
    width: 35vw;
    height: auto;
    border: 5px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
    margin: 10px auto;
    margin-bottom: 10px;
    margin-top: 30px;
}

.text-center {
    text-align: center;
    padding: 10px;
}

.d-block {
    display: block;
    margin: auto;
    padding: 20px;
    max-width: 35vw;
    height: auto;
    justify-content: center;
    border: 5px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
}      

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: blue;
}


@media screen and (max-width: 768px) {
    header, footer {
        background-color:var(--light-blue);
        background-color: 100%;
    }

    h1 {
        text-shadow: 4px 4px 4px grey;
    }

    .first-picture {
        width: 75%;
    }

    figcaption {
        font-size: 18px;
    }

    .d-block {
        max-width: 100%;
    }
}